@model IEnumerable<TaskRobo.Models.Category>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Categories</h2>
    <p>
        @*<a asp-action="Create">Create Category</a>*@
        
            @Html.ActionLink("Create Category", "Create", "Categories", routeValues: null, htmlAttributes: new { id = "createCategoryLink" })
        
    
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryTitle)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryTitle)
                    </td>
                    
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Categories", routeValues: new { id = @item.CategoryID }, htmlAttributes: new { id = @item.CategoryID })
                        @*<a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
