@model TaskRobo.Models.TaskViewModel
@{
    ViewBag.Title = "Edit";
    List<SelectListItem> categorySelectItem = Model.Catogories.Select(c => new SelectListItem() { Text = c.CategoryTitle, Value = c.CategoryID.ToString() }).ToList();
}

<h2>Edit Task</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "create Failed, fields.");
    <div>
        <fieldset>
            @Html.HiddenFor(c => c.TaskId)
            <div class="editor-label">@Html.LabelFor(u => u.TaskTitle)</div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.TaskTitle)
                @Html.ValidationMessageFor(u => u.TaskTitle)
            </div>

            <div class="editor-label">@Html.LabelFor(u => u.TaskContent)</div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.TaskContent)
                @Html.ValidationMessageFor(u => u.TaskContent)
            </div>

            <div class="editor-label">@Html.LabelFor(u => u.TaskStatus)</div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.TaskStatus)
                @Html.ValidationMessageFor(u => u.TaskStatus)
            </div>
            @Html.LabelFor(model => model.CategoryID, "Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(
                x => x.CategoryID,
                new SelectList(categorySelectItem, "Value", "Text"), new { Value = Model.CategoryID })
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>

            <input type="submit" value="Update" />
        </fieldset>
    </div>
}