@model IEnumerable<TaskRobo.Models.UserTask>
@{
    ViewBag.Title = "Index";
}

<h2>Tasks</h2>
<p>
    @Html.ActionLink("Create Task", "Create", "Tasks", routeValues: null, htmlAttributes: new { id = "createTaskLink" })
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        Task Title: <h5 class="card-title"> @Html.DisplayFor(modelItem => item.TaskTitle)</h5>
                        Task Content: <h5 class="card-title">@Html.DisplayFor(modelItem => item.TaskContent)</h5>
                        Task Status: <h5 class="card-title"> @Html.DisplayFor(modelItem => item.TaskStatus)</h5>
                        @Html.ActionLink("Delete", "Delete", "Tasks", routeValues: new { id = @item.TaskId }, htmlAttributes: new { id = "@item.CategoryID" })|
                        @Html.ActionLink("Edit", "Edit", "Tasks", routeValues: new { id = @item.TaskId }, htmlAttributes: new { id = "@item.CategoryID" })|
                        @Html.ActionLink("Details", "Details", "Tasks", routeValues: new { id = @item.TaskId }, htmlAttributes: new { id = "@item.CategoryID" })

                    </div>
                </div>
            </div>
        }
    </div>
</div>


@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TaskId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaskTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaskContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaskStatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskContent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskStatus)
                    </td>

                    <td>
                        @Html.ActionLink("Delete", "Delete", "Tasks", routeValues: new { id = @item.TaskId }, htmlAttributes: new { id = "@item.CategoryID" })|
                        @Html.ActionLink("Edit", "Edit", "Tasks", routeValues: new { id = @item.TaskId }, htmlAttributes: new { id = "@item.CategoryID" })|
                        @Html.ActionLink("Details", "Details", "Tasks", routeValues: new { id = @item.TaskId }, htmlAttributes: new { id = "@item.CategoryID" })

                    </td>
                </tr>
            }
        </tbody>
    </table>*@