@model TaskRobo.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Registeration Failed, fields.");
    <div>
        <fieldset>
            <legend>Register Form</legend>
            <div class="editor-label">@Html.LabelFor(u => u.Email)</div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Email)
            @Html.ValidationMessageFor(u => u.Email)
        </div>
        <div class="editor-label">@Html.LabelFor(u => u.Password)</div>
        <div class="editor-field">
            @Html.PasswordFor(u => u.Password)
        @Html.ValidationMessageFor(u => u.Password)
    </div>
 


<input type="submit" value="Register" />
</fieldset>
</div>
}